/* ========== FILTER =============  */
.home-filter .module-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 6px;
    margin: 8px auto;
    background-color: var(--white-color);
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.11);
}

.home-filter .module-tabs .module-tab {
    width: 33%;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.home-filter .module-tabs .module-tab.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.home-filter .module-tabs .module-tab p {
    font-size: 16px;
}

.filter {
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 20px 16px;


}

.filter .split {
    display: flex;
    /* align-items: center; */
    align-items: stretch;
    gap: 8px;
}

.filter .user-input {
    width: 90%;
    position: relative;
    background-color: var(--white-color);
    display: flex;
    border-radius: 6px;
}

/* Styling for react select  */
.select__control {
    border: none !important;
}

.filter .select__menu {
    z-index: 10;
}

.filter .css-t3ipsp-control {
    /* box-shadow: 0 0 0 1px var(--primary-color); */
    box-shadow: none;
}

/* selected optino in dropdown  */
.filter .css-tr4s17-option {
    background-color: var(--primary-color);
}

.filter .select__option:active {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* highlighted option in dropdown  */
.filter .css-d7l1ni-option {
    background-color: var(--primary-color-light);
}

.filter .select__control {
    justify-content: space-between;
    width: 100%;
}

.filter .select__control .select__single-value {
    color: var(--semi-dark-color);
}

.filter .select__control .select__indicator {
    width: 30px;
    color: var(--semi-dark-color);
}

.select__control .select__indicator-separator {
    display: none;
}


.filter .user-input .search-input {
    width: 80%;
    position: relative;
    /* overflow: hidden; */
}
.filter .user-input .search-input p{
    /* text-wrap: nowrap; */
}

.filter .user-input .custom-input {
    padding: 11px 19px;
    border: none;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-filter .categories-select-dropdown {
    width: 60%;
}

.filter .user-input .category-list {
    position: relative;
    width: 70%;
    border-left: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.filter .user-input .category-list .radiusChip{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto 4px;
    padding: 3px 13px;
    height: 29px;
    background-color: var(--border-color);
    border-radius: 5px;
}
.home-filter .filter .user-input .custom-input {
    padding: 0;
    padding: 20px 19px;

}

/* remove cross icon from select dropdown in type   */
.filter .select__clear-indicator {
    display: none !important;
}

.user-input .category-list .category-dropdown,
.filter .user-input .search-input .search-dropdown {
    position: absolute;
    top: 104%;
    left: 0;
    /* width: 100%; */
    width: fit-content;
    max-width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 8, 0.11);
    background-color: var(--white-color);
    display: none;
    overflow: hidden;
    z-index: 10;
    max-height: 350px;
    overflow-y: auto;
}

.filter .user-input .search-input .search-dropdown {
    width: 100%;
    max-width: none;
}

.user-input .category-list .category-dropdown.show,
.filter .user-input .search-input .search-dropdown.show {
    display: block;
}

.user-input .category-list .category-dropdown .dropdown-item,
.user-input .search-input .search-dropdown .dropdown-item {
    padding: 8px 17px;
    cursor: pointer;
}

.user-input .category-list .category-dropdown .dropdown-item:hover,
.user-input .search-input .search-dropdown .dropdown-item:hover {

    background-color: #e3e0e0;
}


.filter .filter-btn {
    width: 10%;
    overflow: hidden;
}

.filter .filter-btn .custom-btn {
    background-color: var(--white-color);
    color: var(--primary-color);
    width: 100% !important;
    padding: 20px 14px;
}

.filter-area .selected-filters {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.filter-area .selected-filters .tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px
}

.filter-area .selected-filters .selected-filter {
    padding: 4px 6px;
    background-color: #e3e0e0;
    border-radius: 4px;
    margin-right: 4px;
}


/* ======== MACHINERY PAGE ============  */

.machinery-filter .user-input .search-input {
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 19px;
    color: var(--semi-dark-color);
}

.machinery-filter .user-input .category-list {
    width: 50%;
    border-right: 1px solid var(--border-color);

}

.filter .category-list .select-radius-strip {
    padding: 8px;
    background-color: var(--border-color);
    display: flex;
    align-items: center;
    gap: 20px;
    position: sticky;
    bottom: 0;
}

.filter .category-list .select-radius-strip.disabled {
    pointer-events: none;
}

.category-list .select-radius-strip .radius-options {
    display: flex;
    align-items: center;
    gap: 5px;
}

.category-list .select-radius-strip .radius-options .rad-opt {
    padding: 3px 16px;
    background-color: var(--white-color);
    cursor: pointer;
}

.category-list .select-radius-strip .radius-options .rad-opt.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.filter .user-input .type-select {
    width: 20%;
}

.filter .other-filters>div {
    flex-wrap: wrap;
    align-items: center;
}

.filter .other-filter {
    position: relative;
}

.filter .other-filters .other-filter p {
    font-size: 12px;
}

.filter .other-filters .other-filter .filter-values {
    display: inline !important;
    margin: 0 !important;
}

.filter .other-filters .other-filter svg {
    font-size: 12px;
}

.filter .other-filters .other-filter .budget-dropdown {
    max-height: 200px;
}

.filter .other-filter .custom-dropdown .custom-input {}

/* removing the updown buttons from input  */
/* Chrome, Safari, Edge, Opera */
.filter .other-filter .custom-dropdown .custom-input::-webkit-outer-spin-button,
.filter .other-filter .custom-dropdown .custom-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter .other-filter .custom-dropdown .custom-input[type=number] {
    -moz-appearance: textfield;
}

.machinery-filter .other-filters .custom-dropdown {
    width: 250px;
}


.machinery-filter .budget-dropdown .side {
    position: relative;
}

.machinery-filter .budget-dropdown .side .custom-dropdown-item-fixed {
    position: sticky;
    top: 0;
    left: 0;
    padding: 5px 8px;
    background-color: var(--border-color);
    z-index: 10;
}

.filter .budget-dropdown .side .custom-dropdown-item-clear {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color: #ece9e9;

}


/* CONSTRUCTION FILTER  */
.construction-filter .user-input .category-list {
    width: 70%;
}

.machinery-filter .user-input .search-input {
    width: 30%;
}

.construction-filter .user-input .category-list .custom-input {
    padding: 20px 19px;
}

/* NESTED DROPDOWN  */
.categories-select-dropdown {
    position: absolute;
    top: 105%;
    left: 0;
    min-width: 260px;
    width: fit-content;
    background-color: white;
    z-index: 10;
    max-height: 350px;
    overflow: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    display: none;
}

.categories-select-dropdown.show {
    display: block;
}

.categories-select-dropdown .dropdown-item {
    padding: 4px 10px;
    cursor: pointer;
}

.categories-select-dropdown .dropdown-item:hover {
    background-color: var(--border-color);
}

.categories-select-dropdown .dropdown-item .nested-dropdown {
    display: none;
}

.categories-select-dropdown .dropdown-item.extended {
    background-color: var(--white-color);
}

.categories-select-dropdown .dropdown-item.extended .nested-dropdown {
    display: block;
    width: 100%;
}

.categories-select-dropdown .dropdown-item.extended .nested-dropdown .dropdown-item:hover {
    background-color: var(--border-color);

}

@media screen and (max-width: 900px) {

    /* pages  */
    .filter .user-input .search-input {
        width: 70%;
        position: relative;
    }

    .filter .user-input .custom-input {
        padding: 12px 13px;
    }

    .filter .user-input .category-list {
        width: 30%;
        padding: 0 6px;
    }

    .hero-filter .user-input .category-list {
        width: 60%;
    }

    .hero-filter .user-input .search-input {
        width: 40%;
    }
}


@media screen and (max-width: 768px) {

    /* ========== FILTER =============  */
    .filter-area {
        margin: 2rem 0;
    }

    .home-filter .module-tabs {
        padding: 5px;
    }

    .home-filter .module-tabs .module-tab {
        padding: 9px 0;
    }

    .filter {
        padding: 14px 10px;
        gap: 5px;
        border-radius: 4px;
    }

    .filter .user-input {
        width: 80%;
        border-radius: 4px;
    }

    .machinery-filter .other-filters .custom-dropdown {
        width: 170px;
    }

    .custom-dropdown .custom-dropdown-item {
        padding: 5px 5px;
    }

    .user-input .category-list .category-dropdown,
    .filter .user-input .search-input .search-dropdown {
        top: 104%;
        border-radius: 4px;
        max-height: 400px;
    }

    .user-input .category-list .category-dropdown .dropdown-item,
    .user-input .search-input .search-dropdown .dropdown-item {
        padding: 4px 14px;
        cursor: pointer;
    }

    .filter .filter-btn {
        width: 20%;
    }

    .filter .filter-btn .custom-btn {
        height: 100%;
        padding: 15px 4px;
        border-radius: 4px;
    }

    .filter .user-input .custom-input {
        padding: 7px 3px !important;
    }

    .filter.machinery-filter .user-input .custom-input {
        padding: 15px 3px !important;
        font-size: 12px;
    }

    .filter.machinery-filter .user-input .custom-input.type-select-dropdown {
        padding: 7px 3px !important;

    }

    .filter.hero-filter .user-input .custom-input {
        padding: 15px 3px !important;
        width: 55%;
        font-size: 12px;
    }

    .filter-area .selected-filters {
        display: flex;
        margin-top: 8px;
        align-items: center;
    }

    .filter-area .selected-filters .selected-filter {
        padding: 4px 6px;
        background-color: #e3e0e0;
        border-radius: 4px;
        margin-right: 4px;
        font-size: 13px;
        height: fit-content;
    }

    .filter .user-input .search-input {
        width: 50%;
        position: relative;
        padding: 15px 3px !important;
    }


    .filter .user-input .category-list {
        width: 50%;
    }

    .filter .select__indicator {
        padding: 0;
    }

    /* three-col-filter */
    .machinery-filter.three-col-filter .user-input{
        width: 84%;
    }
    .machinery-filter.three-col-filter .user-input .custom-input.type-select-dropdown{
        padding: 5px 3px !important;
    }
    .machinery-filter.three-col-filter .user-input .type-select{
        width: 30%;
    }
    .machinery-filter.three-col-filter .user-input .category-list{
        width: 35%;
    }
    .machinery-filter.three-col-filter .user-input .search-input{
        width: 35%;
        padding: 7px 3px !important;
    }
    .machinery-filter.three-col-filter .filter-btn{
        width: 15%;
    }
    .machinery-filter.three-col-filter .filter-btn .custom-btn{
        padding: 15px 3px;
        font-size: 12px;
    }



    .hero-filter .user-input .category-list {
        width: 50%;
    }

    .hero-filter .user-input .search-input {
        width: 50%;
    }

    .filter-area .selected-filters .tags {
        width: 75%;
    }
}

@media screen and (max-width: 550px) {
    .home-filter .module-tabs .module-tab p {
        font-size: 12px;
    }

    .filter-area .selected-filters .tags {
        width: 68%;
    }

    .custom-dropdown.squeeze-left{
        left: -44px;
    }
}

@media screen and (max-width: 450px) {


    .filter .user-input .custom-input {
        padding: 6px 4px;
    }
}