@media screen and (max-width: 1200px) {

    /* height of card  */
    .property-card {
        height: 510px;
    }

    .blog-card {
        height: 400px;
    }
}

@media screen and (max-width: 1150px) {
    .property-card {
        height: 530px;
    }
    .navbar .dekstopViewLink{
        margin-left: 14px  !important;
    }
}

@media screen and (max-width: 992px) {
    .navbar .logo img {
        width: 120px;
    }

    .navbar .links-section {
        width: 60%;
    }

    .navbar .account {
        gap: 13px;
    }

    .navbar .account .custom-btn {
        padding: 8px 10px;
        font-size: 12px;
    }

    .navbar .account .custom-select {
        padding: 8px 4px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar .links-section {
        width: 40%;
    }

    .navbar {
        padding: 7px 1rem;
        position: relative;
        z-index: 10;
    }

    .navbar .logo img {
        width: 100px;
    }

    .navbar .bars-icon {
        display: block;
        color: var(--primary-color);
    }

    .navbar .links-section {
        display: block;
        padding: 6px 13px;
        background-color: var(--white-color);
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: -20rem;
        left: 0;
        z-index: -1;
        /* transition: all 0.14s ease-in; */
    }

    .navbar .links-section.show {
        top: 3.2rem;
    }

    .navbar .links {
        display: block;
    }

    .navbar .links .link {
        display: block;
        margin-bottom: 8px;
    }

    .navbar .account {
        gap: 8px;
        margin-left: auto;
        margin-right: 8px;
    }

    .navbar .account .custom-btn {
        padding: 8px 10px;
        font-size: 12px;
    }

    .navbar .account .custom-select {
        padding: 8px 4px;
        font-size: 12px;
    }

    .cards-grid {
        /* grid-template-columns: repeat(1, 70%); */
        grid-template-columns: repeat(2, 49%);
        justify-content: center;
        gap: 25px 12px;
    }

    .property-card {
        height: 510px;
    }

    .blog-card {
        height: 450px;
    }



}

@media screen and (max-width: 768px) {
    .custom-container {
        margin-inline: auto !important;
        width: min(96%, 80rem) !important;
    }

    .navbar {
        padding: 7px 5px;
    }

    .navbar .logo img {
        display: none;
        width: 90px;
    }

    .navbar .logo img.mobile-logo {
        display: block;
    }

    .navbar .account .link {
        font-size: 12px;
        margin-right: 8px;
    }

    .navbar .account .custom-btn {
        font-size: 12px;
    }

    .navbar .account {
        gap: 15px;
        margin-right: 4px;
    }

    .mobileViewLink {
        display: block;
        position: relative;
        margin-right: 30px !important;
    }

    .link.dekstopViewLink {
        display: none !important;
    }

    .custom-btn {
        font-size: 13px;
    }

    .outline-btn {
        font-size: 13px;
    }

    p {
        font-size: 12px;
    }

    h3 {
        font-size: 17px;
    }

    h5 {
        font-size: 16px;
    }

    /* hero  */
    .hero {
        padding: 1rem 0;
    }

    .hero .hero-heading {
        margin-bottom: 12px;
        font-size: 2rem;
    }

    .hero img {
        width: 40%;
        margin: 15px 0;
    }

    .feature-cards {
        display: none;
    }

    .slick-next {
        right: -15px !important;
    }

    .slick-prev {
        left: -20px !important;
    }

    /* .properties-section .cards-grid .custom-card:last-child {
        display: block;
    }

    .machinery-section .cards-grid .custom-card:last-child {
        display: block;
    }

    .construction-section .cards-grid .custom-card:last-child {
        display: block;
    } */

    .property-card {
        height: 515px;
    }

    .blog-card {
        height: 400px;
    }

    .custom-card .content .card-title {
        font-weight: 500;
        font-size: 1.2rem;
        margin: 8px 0;
    }

    .custom-card .content .city {
        font-size: 14px;
    }

    .custom-card .property-features .feature-text {
        font-size: 8px;
        margin-left: 4px;

    }

    .custom-card .property-features .feature-icon {
        font-size: 12px;
    }

    .custom-card .content .custom-badge {
        padding: 3px 8px;
        border: 1px solid var(--primary-color);
        font-size: 12px;
    }

    .flexSection .split {
        display: flex;
        flex-direction: column;
    }

    .flexSection .split .image {
        width: 100%;
        margin-bottom: 10px;
    }

    .flexSection .split .image img {
        width: 100%;
    }

    .flexSection .split .content {
        width: 100%;
    }

    .flexSection .split .content {
        margin-top: 5px !important;
    }

    .flexSection .split .paragraph {
        font-size: 12px;
        margin-top: 0 !important;
    }

    .flexSection.flex-reverse .split {
        flex-direction: column;
    }

    /* testimonial  */
    .testimonials .review {
        width: 90%;
        margin: 2rem auto;
    }

    .testimonials .customers {
        width: 100%;
        margin: 1rem auto;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .testimonials .customers .customer {
        gap: 15px;
        width: 33%;
        padding: 7px;
    }

    .testimonials .customers .customer .image {
        width: 22%;
    }

    .testimonials .customers .customer small {
        font-size: 10px;
    }

    .testimonials .customers .customer p {
        font-size: 12px;
    }

    /* contact ------  */
    .contactUs .wraper {
        flex-direction: column;
        gap: 20px;
    }

    .contactUs .wraper .support {
        padding: 20px;
        width: 100%;
        border-radius: 6px;
    }

    .contactUs .wraper .support .information {
        margin-top: 25px;
    }

    .contactUs .wraper .form {
        padding: 22px 0px;
    }

    .contactUs .wraper .split {
        gap: 5px;
    }

    .details-section .split {
        flex-direction: column;
    }

    .details-section .split .side-lg {
        width: 100%;
        margin-bottom: 10px;
    }

    .details-section .split .side-sm {
        width: 100%;
        margin-bottom: 10px;
    }

    .details-section .features-grid {
        grid-template-columns: repeat(2, 49%);
        gap: 10px;
    }

    .details-section .feature .label {
        width: 40%;
    }


    .details-section .more-images .image {
        overflow: hidden;
        width: 20%;
        /* max-height: 80px; */
        height: 60px;
    }


    .top-section-categories .subcategories{
        padding: 0 20px;
    }

    .slick-prev, .slick-next {
        top: 45% !important;
    }

    .category-cards-grid.agents-cards-grid {
        grid-template-columns: repeat(3, 33%);
        min-height: 250px;

    }

    .cards-grid.agents-cards-grid {
        grid-template-columns: repeat(1, 100%);
    }

    .category-cards-grid .category-card .image img {
        width: 100%;
    }

    .category-cards-grid .category-card h5 {
        font-size: 14px;
    }



}

@media screen and (max-width: 595px) {
    .custom-modal {
        top: 20%;
        width: 400px;
    }

    .cards-grid {
        grid-template-columns: repeat(1, 100%);
    }

    .property-card {
        height: 460px;
    }

    .custom-card .image img {
        width: 100% !important;
    }

    .blog-card {
        height: 360px;
    }

    .faq-section {
        padding: 2rem 0;
    }

    .faq-section .faq .faq-row {
        padding: 15px;
    }


    .view-blog {
        padding: 2rem 0;
    }

    .details-section .images .main-image {
        height: 270px;
    }

    .details-section .main-image .arrow {
        top: 42%;
        width: 30px;
        height: 30px;
    }

    .testimonials .customers {
        width: 80%;
        flex-direction: column;
        gap: 10px;
    }

    .testimonials .customers .customer {
        width: 100%;
    }
}


@media screen and (max-width: 450px) {
    .property-card {
        height: 482px;
    }

    .blog-card {
        height: 360px;
    }



    .details-section .images .main-image {
        height: 210px;
    }

}


@media screen and (max-width: 450px) {
    .property-card {
        height: 477px;
    }
}


@media screen and (max-width: 400px) {
    .property-card {
        height: 505px;
    }
}