/* NAVBAR STYLING  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 2rem;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.11);
    z-index: 1034;
    background-color: #fff;

    position: sticky;
    top: 0;
    /* background-color: #076c8f21; */
}

.navbar .logo img {
    width: 140px;
}

.navbar .links-section {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.navbar .links {
    display: flex;
    gap: 25px;
}

.navbar .links .link {
    font-size: 14px;
    transition: all .2s ease;
    color: var(--primary-color);
    font-weight: 700;
    position: relative;
}
.navbar .link .link-dropdown{
    position: absolute;
    top: 170%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.11);
    overflow: hidden;
    display: none;
    z-index: 10;
    width: 185px;
}
.navbar .link .link-dropdown.show{
    display: flex;
}
.navbar .link .link-dropdown .link-dropdown-item{
    padding: 4px 14px;
    font-weight: 700;
    color: var(--primary-color);

}
.navbar .link .link-dropdown .link-dropdown-item:hover{
    background-color: var(--border-color);
}

.navbar .links .link.active {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.navbar .links .link:hover {
    color: var(--primary-color);
}

.navbar .account {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar .account .link {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 700;
}

.navbar .account .custom-btn {
    font-size: 14px;
}

.navbar .account .custom-select {
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
    padding: 0;
}

.navbar .bars-icon {
    display: none;
}
.navbar .profile-nav{
    position: relative;
}
.navbar .profile-nav .image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.navbar .profile-nav .image img{
    width: 100%;
}

/* ========== HERO ==============  */
.hero {
    background-color: var(--primary-color);
    padding: 1.5rem 0;
    color: var(--white-color);
    text-align: center;
}

.hero .hero-heading {
    color: var(--white-color);
    margin-bottom: 12px;
    font-size: 2rem;
}

.hero .slogan {
    font-size: 15px;
    margin-bottom: 6px;
}

.hero img {
    width: 23%;
    margin: 25px 0;
    margin-bottom: 33px;
}

.up-arrow {
    position: fixed;
    bottom: 30px;
    right: 14px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.11);
    z-index: 1000;
    cursor: pointer;
    display: none;
}

.up-arrow.show {
    display: block;
}

.up-arrow .icon {
    font-size: 22px;
}

/* ======== Feature Cards ==========  */
.custom-modal{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    width: 550px;
    display: block;
    margin: 0 auto;
    padding: 29px 22px;
    border-radius: 8px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    z-index: 10;
    transform: scale(0);
    transform-origin: center center;
    transition: all .2s;
}
.custom-modal button{
    font-size: 12px;
}
.custom-modal.show{
    transform: scale(1);
}
.feature-cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.feature-cards .feature-card {
    padding: 14px 25px;
    background-color: var(--white-color);
    color: var(--primary-color);
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    position: relative;
    width: 170px;
    height: 140px;
    top: -40px;
}

.feature-cards .feature-card p {
    font-weight: 600;
    color: var(--dark-color);
}

.feature-card .icon {
    font-size: 57px;
    margin-bottom: 8px;
}

.construction-section {
    padding: 1rem 0;
    padding-top: 0;
}

.publishSection {
    /* padding-top: 0; */
}

/* ============ Cards ===============  */
.category-cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    align-items: center;
    gap: 15px 0;
}
.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    align-items: center;
    gap: 15px 0;
}

/* 
.properties-section .cards-grid .custom-card:last-child {
    display: none;
}

.machinery-section .cards-grid .custom-card:last-child {
    display: none;
}

.construction-section .cards-grid .custom-card:last-child {
    display: none;
} */

.custom-card {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    overflow: hidden;
}

.property-card {
    /* height: 508px; */
    max-height: 508px;
}

.custom-card .owl-prev,
.custom-card .owl-next {
    position: absolute;
    top: 120px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #ffffffa6 !important;
    color: var(--primary-color) !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-card .owl-prev span,
.custom-card .owl-next span {
    font-size: 50px;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
}

.custom-card .owl-prev {
    left: 6px;
}

.custom-card .owl-next {
    right: 6px;
}

.custom-card .owl-prev:hover,
.custom-card .owl-next:hover {
    background-color: #e3e0e0 !important;
}


.custom-card .image {
    width: 100%;
    overflow: hidden;
    height: 230px;
    position: relative;
}

.custom-card .image .owl-item {
    height: 230px;
}

.custom-card .image img {
    transition: all .2s ease-in;
    /* width: 100%; */
    z-index: -1;
    height: 100%;
}

.custom-card:hover .image img {
    transform: scale(1.006);
}

.custom-card .custom-badge {
    position: absolute;
    top: 15px;
    left: 8px;
    z-index: 1;
    padding: 3px 14px;
    color: var(--primary-color);
    border: 1.4px solid var(--primary-color);
    background-color: #fff;
    border-radius: 6px;
}

.custom-card .image .icon-area {
    position: absolute;
    top: 15px;
    right: 8px;
    z-index: 1;
}


.custom-card .favourite-icon {
    cursor: pointer;
    font-size: 22px;
    color: var(--semi-dark-color);
}

.custom-card .favourite-icon.filled {
    color: red;
}


.custom-card .content {
    padding: 4px 14px;
    background-color: var(--white-color);
    cursor: pointer;
}

.custom-card .content .card-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 8px 0;
}

.custom-card .content .street-address {
    color: var(--semi-dark-color-2);
    margin-bottom: 4px;
}

.custom-card .content .city {
    font-size: 17px;
    font-weight: 400;
}
.custom-card .content .description {
    min-height: 63px;
}


.custom-card .property-features .feature-text {
    font-size: 12px;
    color: var(--semi-dark-color-2);
    margin-left: 4px;
}

.custom-card .property-features .feature-icon {
    font-size: 18px;
    color: var(--semi-dark-color-2);
}


.custom-card .content .seller-info {
    display: flex;
    align-items: center;
    margin: 6px 0;
    gap: 4px;
}

.custom-card .seller-info .seller-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--semi-dark-color-2);
}
.custom-card .seller-info .seller-img img{
    width: 100%;
    height: 100%;
}
/* ========= Estimate Section =============  */
.flexSection .split {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flexSection.flex-reverse .split {
    flex-direction: row-reverse;
}

.flexSection .split .image {
    width: 45%;
    overflow: hidden;
}

.flexSection .split .image img {
    width: 100%;
}

.flexSection .split .content {
    width: 48%;
}

.publishSection .split {
    flex-direction: row-reverse;
}


/* ====== Blogs Section =========  */
.owl-nav {
    display: block !important;
}

.blog-card {
    height: 350px;
}

.blog-card .image {
    width: 100%;
    overflow: hidden;
    height: 200px;
}

.blog-card .image img {
    height: 100%;
    width: 100%;
}

.swiper-nav-btns button {
    width: 60px;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: hsl(210, 100%, 50%);
    color: #fff;
    margin: 0px 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    transition: all .5s;
}

.swiper-nav-btns button:hover {
    background-color: hsl(210, 100%, 40%);
    cursor: pointer;
}

.owl-theme .owl-dots {
    display: block !important;
}

/* ========= Testimonials ===========  */
.testimonials {
    background-color: var(--primary-color);
    padding: 4rem 0;
}

.testimonials .review {
    width: 60%;
    display: block;
    margin: 3rem auto;
    text-align: center;
    color: var(--white-color);
}

.testimonials .customers {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.testimonials .customers .customer {
    display: flex;
    align-items: center;
    margin: auto 0;
    gap: 15px;
    width: 27%;
    background-color: var(--white-color);
    padding: 14px;
    border-radius: 50px;
    cursor: pointer;
}

.testimonials .customers .customer.active {
    background-color: #afe3f4;
}

.testimonials .customers .customer .image {
    width: 20%;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .customers .customer .image img {
    width: 100%;
}


/* ============= Contact Us =============  */
.contactUs .wraper {
    display: flex;
    gap: 27px;
}

.contactUs .wraper .support {
    background-color: var(--primary-color);
    padding: 30px;
    width: 40%;
    border-radius: 12px;
}

.contactUs .wraper .support .information {
    margin-top: 45px;
}

.contactUs .wraper .support .supportTitle {
    font-weight: 500;
    line-height: 38px;
}

.contactUs .wraper .support .supportDescription {
    color: var(--semi-dark-color-2) !important;
}

.contactUs .wraper .form {
    padding: 22px 20px;
}

.contactUs .wraper .split {
    display: flex;
    gap: 24px;
}

.contactUs .wraper .split .form-group {
    width: 50%;
}

.contactUs .wraper .form .form-group {
    margin-bottom: 14px;
}

.contactUs .wraper .form label {
    margin-bottom: 8px;
}

.footer {
    background-color: var(--dark-color);
    color: var(--white-color) !important;

    a {
        color: var(--white-color) !important;
    }
}




/* OWL nav buttons  */

.owl-prev,
.owl-next {
    position: absolute;
    top: 120px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #ffffffa6 !important;
    color: var(--primary-color) !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.owl-prev span,
.owl-next span {
    font-size: 50px;
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
}

.owl-prev {
    left: 6px;
}

.owl-next {
    right: 6px;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: #e3e0e0 !important;
}


