/* ========== FILTER =============  */
.filter {
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 20px 16px;


}

.filter .split {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter .user-input {
    width: 90%;
    position: relative;
    background-color: var(--white-color);
    display: flex;
    border-radius: 6px;
}

/* Styling for react select  */
.select__control {
    border: none !important;
}

.filter .select__menu {
    z-index: 10;
}

.filter .css-t3ipsp-control {
    /* box-shadow: 0 0 0 1px var(--primary-color); */
    box-shadow: none;
}

/* selected optino in dropdown  */
.filter .css-tr4s17-option {
    background-color: var(--primary-color);
}

.filter .select__option:active {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* highlighted option in dropdown  */
.filter .css-d7l1ni-option {
    background-color: var(--primary-color-light);
}

.select__control .select__indicator-separator {
    display: none;
}

.filter .user-input .search-input {
    width: 80%;
    position: relative;
}

.filter .user-input .custom-input {
    padding: 11px 19px;
    border: none;
    top: 0;
    left: 0;

}

.filter .user-input .category-list {
    position: relative;
    width: 20%;
    border-left: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.filter .user-input .location-input {
    padding: 0;
    padding: 20px 19px;

}

.user-input .category-list .category-dropdown,
.filter .user-input .search-input .search-dropdown {
    position: absolute;
    top: 104%;
    left: 0;
    /* width: 100%; */
    width: fit-content;
    max-width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 8, 0.11);
    background-color: var(--white-color);
    display: none;
    overflow: hidden;
    z-index: 10;
    max-height: 350px;
    overflow-y: auto;
}

.filter .user-input .search-input .search-dropdown {
    width: 100%;
    max-width: none;
}

.user-input .category-list .category-dropdown.show,
.filter .user-input .search-input .search-dropdown.show {
    display: block;
}

.user-input .category-list .category-dropdown .dropdown-item,
.user-input .search-input .search-dropdown .dropdown-item {
    padding: 8px 17px;
    cursor: pointer;
}

.user-input .category-list .category-dropdown .dropdown-item:hover,
.user-input .search-input .search-dropdown .dropdown-item:hover {

    background-color: #e3e0e0;
}


.filter .filter-btn {
    width: 10%;
}

.filter .filter-btn .custom-btn {
    background-color: var(--white-color);
    color: var(--primary-color);
    width: 100% !important;
    padding: 20px 14px;
}

.filter-area .selected-filters {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.filter-area .selected-filters .selected-filter {
    padding: 4px 6px;
    background-color: #e3e0e0;
    border-radius: 4px;
    margin-right: 4px;
}


/* ======== MACHINERY PAGE ============  */

.machinery-filter .user-input .search-input {
    width: 30%;
    position: relative;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    color: var(--semi-dark-color);
}

.machinery-filter .user-input .category-list {
    width: 50%;
    border-right: 1px solid var(--border-color);

}

.filter .user-input .type-select {
    width: 20%;
}

.filter .other-filter {
    position: relative;
}

.filter .other-filters .other-filter p{
    font-size: 12px;
}

.filter .other-filters .other-filter svg{
    font-size: 12px;
}



/* NESTED DROPDOWN  */
.categories-select-dropdown {
    position: absolute;
    top: 105%;
    left: 0;
    width: fit-content;
    background-color: white;
    z-index: 10;
    max-height: 350px;
    overflow: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    display: none;
}
.categories-select-dropdown.show{
    display: block;
}
.categories-select-dropdown .dropdown-item{
    padding: 4px 10px;
    cursor: pointer;
}
.categories-select-dropdown .dropdown-item:hover{
   background-color: var(--border-color);
}
.categories-select-dropdown .dropdown-item .nested-dropdown{
    display: none;
}
.categories-select-dropdown .dropdown-item.extended{
    background-color: var(--white-color);
}
.categories-select-dropdown .dropdown-item.extended .nested-dropdown{
    display: block;
    width: 100%;
}
.categories-select-dropdown .dropdown-item.extended .nested-dropdown .dropdown-item:hover{
   background-color: var(--border-color);

}

@media screen and (max-width: 900px) {

    /* pages  */
    .filter .user-input .search-input {
        width: 70%;
        position: relative;
    }

    .filter .user-input .custom-input {
        padding: 12px 13px;
    }

    .filter .user-input .category-list {
        width: 30%;
        padding: 0 6px;
    }
}

@media screen and (max-width: 768px) {

    /* ========== FILTER =============  */
    .filter-area {
        margin: 2rem 0;
    }

    .filter {
        padding: 14px 10px;
        gap: 5px;
        border-radius: 4px;
    }

    .filter .user-input {
        width: 80%;
        border-radius: 4px;
    }


    .user-input .category-list .category-dropdown,
    .filter .user-input .search-input .search-dropdown {
        top: 104%;
        border-radius: 4px;
        max-height: 400px;
    }

    .user-input .category-list .category-dropdown .dropdown-item,
    .user-input .search-input .search-dropdown .dropdown-item {
        padding: 4px 14px;
        cursor: pointer;
    }

    .filter .filter-btn {
        width: 20%;
    }

    .filter .filter-btn .custom-btn {
        padding: 15px 13px;
        border-radius: 4px;
    }

    .filter .user-input .custom-input {
        padding: 7px 3px !important;
    }

    .filter-area .selected-filters {
        display: flex;
        margin-top: 8px;
        align-items: center;
    }

    .filter-area .selected-filters .selected-filter {
        padding: 4px 6px;
        background-color: #e3e0e0;
        border-radius: 4px;
        margin-right: 4px;
    }


    .filter .user-input .search-input {
        width: 60%;
        position: relative;
    }


    .filter .user-input .category-list {
        width: 40%;
    }

    .filter .select__indicator {
        padding: 0;
    }
}


@media screen and (max-width: 450px) {


    .filter .user-input .custom-input {
        padding: 6px 4px;
    }
}