@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    p {
        font-size: 12px;
    }
    .navbar{
        padding: 7px 1rem;
        position: relative;
        z-index: 10;
        background-color: var(--white-color);
    }
    .navbar .logo img{
        width: 100px;
    }
    .navbar .bars-icon {
        display: block;
        color: var(--primary-color);
    }

    .navbar .links-section {
        display: block;
        padding: 6px 13px;
        background-color: var(--white-color);
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: -20rem;
        left: 0;
        z-index: -1;
        /* transition: all 0.14s ease-in; */
    }
    .navbar .links-section.show{
        top: 3.2rem;
    }
    .navbar .links{
        display: block;
    }
    .navbar .links .link{
        display: block;
        margin-bottom: 8px;
    }

    .navbar .account {
        gap: 8px;
    }
    .navbar .account .custom-btn{
        padding: 8px 10px;
        font-size: 12px;
    }
    .navbar .account .custom-select{
        padding: 8px 4px;
        font-size: 12px;
    }

    /* hero  */
    .hero{
        padding: 1rem 0;
    }
    .hero .hero-heading {
        margin-bottom: 12px;
        font-size: 2rem;
    }
    .hero img {
        width: 40%;
        margin: 15px 0;
    }
    .feature-cards {
        display: none;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 49%);
        gap: 15px 0;
    }
    .custom-card .content .card-title {
        font-weight: 500;
        font-size: 1.2rem;
        margin: 8px 0;
    }
    .custom-card .content .city {
        font-size: 14px;
    }
    .custom-card .property-features .feature-text {
        font-size: 8px;
        margin-left: 4px;

    }

    .custom-card .property-features .feature-icon {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {}